* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: sans-serif;
    background-color: #310060;
}

a {
    text-decoration: none;
}

details {

        max-width: 100%;
        margin: 0 auto; 
} 

summary {
    all: unset;
    text-align: center;
    cursor: pointer;
    padding: 16px;
    color: black;
    background-color: whitesmoke;
    max-width: 100%;
    display: block; 
    box-sizing: border-box; 
}

summary:hover {
    background-color: black;
    color: white;
    transition: .6s;
}

details ul:hover {
    background-color: black;
    color: white;
    transition: .6s;
}

details ul {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 19px;
    list-style: none;
    background-color: white;
    height: 50px;
    width: 100%;
    color: black;
}

ul {
    background-color: whitesmoke;
}

.container1 {
    background-image: url("https://wallpaper4k.com.br/wp-content/uploads/2022/10/wallpapers-roxo-em-4k-36.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding: 10px;
    background-color: #7B2CBF;
    height: 300px;
    width: 100%;
}

.container {
    margin-left: 2%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 10px;
    color: whitesmoke;
}

.containerbranco {
    display: flex;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
}

.containerbranco img {
    margin-top: 30px;
    margin-left: 17.5px;
    height: 150px;
    width: 29%;
    cursor: pointer;
}

.containerbranco img:hover {
    transform: scale(1.10);
    transition: .6s;
}

.containeroxo {
    height: 300px;
}


.astronauta img {
    height: 150px;
    cursor: pointer;
}
.astronauta img:hover {
    transition: .10s;
    transform: scale(1.30);
}

.material-symbols-outlined:hover {
    transition: .10s;
    transform: scale(1.15);
}

.containeroxo {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.astronauta {
    display: flex;
    align-items: center;
}

.texto {
    padding: 20px;
    color: white;
    margin-right: 20px;
}


.caixas {
    height: 320px;
    width: 100%;
    background-color: white;
}

.caixas h5 {
    position: relative;
    bottom: -50px;
}

.contcaixa1,
.contcaixa2,
.contcaixa3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 8px;
    height: 60px;
    margin: auto;
    position: relative;
    bottom: -60px;
    width: 80%;
    background-color: #240046;
}

.contcaixa2,
.contcaixa3 {
    margin-top: 10px;
} 


.contcaixa1 img  {
    height: 60px;
    width: 80px;
}

.contcaixa2 img  {
    height: 60px;
    width: 80px;
}

.contcaixa3 img  {
    height: 60px;
    width: 80px;
}

.setas {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 50px;
    height: 200px;
    background-color: #310060;
}

.colorwhite {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ajuste para alinhamento à esquerda */
    height: 200px; /* Ajuste para altura automática */
    background-color: whitesmoke;
    justify-content: space-between;
    color: #310060;
    padding: 20px; /* Adicionado para espaçamento interno */
}

.colorwhite img {
    max-width: 60%; /* Ajuste para largura máxima de 100% do contêiner pai */
    height: auto; /* Ajuste para altura automática */
    margin-top: 20px;
    margin-bottom: 40px; /* Adicionado para espaçamento inferior */
}

.colorwhite p {
    color: white;
    margin-top: 20px;
    
}

/* Adicione media queries conforme necessário */
@media (min-width: 768px) {
    .colorwhite {
        flex-direction: row; /* Altere para linha em telas maiores */
        align-items: center; /* Centralize verticalmente em telas maiores */
    }

    .colorwhite img {
        margin-bottom: 0; /* Remova o espaçamento inferior em telas maiores */
        margin-right: 20px; /* Adicione espaçamento à direita em telas maiores */
    }

    .contcaixa2,
    .contcaixa3 {
    margin-top: 10px;
}

}


@media (max-width: 368px) {
    .containeroxo {
        font-size: 14px;
    }
}

.novo2 {
    height: 200px;
    background-color: black;
}



.novidade {
    height: 300px;
    background-color: whitesmoke;
    color: #310060;
}
.novidadenovo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.novidade button {
    background-color: rebeccapurple;
    font-family: cursive;
    color: #310060;
    cursor: pointer;
    border-radius: 4px;
}

.novidade button:hover {
    transition: .10s;
    transform: scale(1.05);
    color: white;
}

.novidade2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100px;
    background-color: black;
    color: white;
}

.icones {
    display: flex;
    height: 40px;
    margin-top: -20px;
    justify-content: center;
    cursor: pointer;
    gap: 15px;
    color: white;
    background-color: black;
}